<md-dialog aria-label="Edit Focus Areas">
	<md-content>
		<md-subheader class="md-sticky-no-effect"> Edit Your Focus Areas </md-subheader>
		<p>
			Edit here
		</p>
	</md-content>
	<div class="md-actions" layout="row">
    <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" hide show-md>
      More on Wikipedia
    </md-button>
    <span flex></span>
    <md-button ng-click="answer('not useful')">
     Not Useful
    </md-button>
    <md-button ng-click="answer('useful')" class="md-primary">
      Useful
    </md-button>
  </div>
</md-dialog>
