h1 Invite your herd members
p 
  |You need to choose people you can trust completely. People with whom you could see yourself sharing things like:
  |Your bank balance.
  |Personal insecurities that you may not have shared with other people.
  |Doubts about your most important relationships.
  |The power of the group ultimately comes from its transparency. 
  |Choosing people with whom you can be transparent is critical.

h4 
  |Link them to: 
  ="#{@herd.subdomain}.theherd.io/join"