$body-color: rgba(0, 0, 0, 0.73);

body {
	text-align: left;
}
md-toolbar {
height: 35px;
min-height: 25px;
}
.md-toolbar-tools {
height: 35px;
min-height: 25px;
}

.md-subheader {
display: block;
font-size: 0.9em;
padding: 5px 16px 0px 16px;
position: relative;
height: 25px;
min-height: 25px;
}

.md-header {
height: 25px;
}

h4.subheader-title {
  margin-top: 0;
  text-align: center;
}


th {
  h3 {
    margin-bottom: 0;
  }
}

ul {
	padding: 0 0 0 0;	
}
md-card {
	h4 {
		margin-top: 0.1em;
		margin-bottom: 0.1em;
	}
}
#weekly-report {
	margin-top: 40px;
}

md-checkbox {
	margin-left: 0;	
	margin-top: 5px;
	margin-bottom: 5px;	
	margin-right: 10px;
}

md-input-group {
	margin-top: 0;
}
.md-input-group {
	margin-top: 0;
}

.goals {
	text-align: center;
}

.goalsPanels {
	width: 50%;
}
a {
	color: #66CCFF;
	&.delete-task {
		margin-top: 9px;
	}
	&.delete-goal {
		margin-top: 7px;
	}
	&.comments-toggle {
		position: absolute;
		right: 0;
		bottom: 0;
		z-index: 10;
	}
	&.add-comments-toggle {
		position: absolute;
		right: 0;
		bottom: 0;
		margin-right: 5px;
	}

	&.focus-areas {
		position: absolute;
		right: 3.5%;
		top: 15%;
		z-index: 2;
	}

	&.week-nav {
		z-index: 10;
	}
	&.archive {
		text-align: right;
	}

	&:hover {
		text-decoration: none;
	}
}
md-card {
	position: relative;
	z-index: 5;
	background-color: white;
	h4 {
		margin-top: 0.7em;
		&.comments{
			text-align: center;
		}
	}
	&.comments {
		position: relative;
		top: -20px;
		z-index: 1;
	}
	h6 {
		margin-top: 0.3em;
		margin-bottom: 0.1em;
	}
	p {
		margin-top: 0.3em;
		margin-bottom: 0.3em;
	}

	hr {
		margin-top: 0.1em;
		margin-bottom: 0.1em;
	}
}

div.week-nav {
	height: 1.5em;
	padding-top: 0.1em;
}



textarea.section {
	border-color: #66ccff
}

.fadeDown {
 top: 0px;
 overflow: hidden;
}
.fadeDown.ng-hide {
 top: -50px;
}

.comments.ng-hide-add,
.comments.ng-hide-remove {
}


.alert {
  padding: 0.25em;
  margin: 0.25em 0;
  border-radius: 2px;
}
.alert:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 568px) {
  .alert {
    padding: 1em;
    margin: 0.5em 0;
  }
}
.alert-success {
  background: #dbefdc;
  color: #265828;
}
.alert-info {
  background: #d3eafd;
  color: #074c83;
}
.alert-warning {
  background: #ffeacc;
  color: #804c00;
}
.alert-danger {
  background: #fdd9d7;
  color: #8d1108;
}

.no-margin {
  margin: 0;
}

.md-button.xs {
  font-size: 0.65em;
  height: 20px;
}
.md-button.s {
  font-size: 0.75em;
  height: 25px;
}

.upper-right-corner {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  margin-right: 5px;
  margin-top: 5px;
}

.hover-hand {
  cursor: pointer;
  cursor: hand;
}

a.black-link {
  text-decoration: none;
  color: $body-color;
  &:hover {
    color: black;
  }
}
md-toast {
  position: fixed;
}

textarea.feedback {
  min-width: 300px;
  min-height: 200px;
}
