.flexbox .no,
.no-flexbox .yes {display: none}
.container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container {
  width: 75%;
  margin: 1em auto;
}
.cell {
  overflow: hidden;
}
.container .row .cell.header {
  color: #FFF;
}
.row {
  background: green;
}
.row.alt {
}
.flexbox .container {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}
.boxshadow .container {
  box-shadow: 1px 1px 10px 1px #777;
}
.flexbox .container .row {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
}
.flexbox .row .cell {
  flex: 1;
  width: 25%;
}
.row .cell {
  padding: 1em;
  border: 1px solid #222;
}
@media all and (max-width: 43.125em) {
  
  .header {display: none;}
  .flexbox .row .cell:before {
    content: attr(title);
    width: 75px;
    display: block;
    background: #222;
    color: #fff;
    padding: .25em .5em;
    position: absolute;
    top: 0;
    left: 0;
  }
  .flexbox .container .row {
    flex-direction: column;
  }
  .flexbox .row .cell {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    padding: 3em 0 1em 1em;
  }

}

/* Fallbacks */

.no-flexbox .container {
   display: table; 
}
.no-flexbox .row {
  display: table-row;
}
.no-flexbox .cell {
  display: table-cell;
}
