// Place all the styles related to the herds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.buttondemoBasicUsage {
  /** From vulcanized demo **/ }
  .buttondemoBasicUsage section {
    background: #f7f7f7;
    border-radius: 3px;
    text-align: center;
    margin: 1em;
    position: relative !important;
    padding-bottom: 10px; }
  .buttondemoBasicUsage md-content {
    margin-right: 7px; }
  .buttondemoBasicUsage section .md-button:not(.md-fab) {
    width: 10em; }
  .buttondemoBasicUsage section .md-button {
    display: block;
    margin: 1em;
    line-height: 25px; }
  .buttondemoBasicUsage .label {
    position: absolute;
    bottom: 5px;
    left: 7px;
    color: #ccc;
    font-size: 14px; }