// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Roboto);

$media-phone: "only screen and (max-width : 320px)";
$media-thirteen: "only screen and (max-width: 1280px)";
$media-i5: "only screen and (min-device-width : 320px) and (max-device-width : 568px)";


body {
  background-image: image-url("sky.jpeg");
  background-size: cover;
  margin-top: 0px;
  padding-top: 10px;
  text-align: center;
}

/**
 * VH and VW units can cause issues on iOS devices: http://caniuse.com/#feat=viewport-units
 * 
 * To overcome this, create media queries that target the width, height, and orientation of iOS devices. 
 * It isn't optimal, but there is really no other way to solve the problem. In this example, I am fixing 
 * the height of element `.foo` â€”which is a full width and height cover image.
 *
 * iOS Resolution Quick Reference: http://www.iosres.com/
 */
 
 .greeting {
    height: 100vh;
    width: 100vw;
 }

 .information {
  width: 100vw;
 }
 

/** 
 * iPad with portrait orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
  .greeting {
    height: 1024px;
  }
}

/** 
 * iPad with landscape orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
  .greeting {
    height: 768px;
  }
}

/**
 * iPhone 5
 * You can also target devices with aspect ratio.
 */
@media screen and (device-aspect-ratio: 40/71) {
  .greeting {
    height: 500px;
  }
}

#hero {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: #fff;
  z-index: -1;
}

.information {
  margin: 0;
  background-color: rgba(0,0,0,0.8);
  h1 {
    margin-top: 5%;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: white;
  }

  h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 25px;
    color: white;
  }

  h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: white;
    text-align: left;
  }
  
  p  {
    font-family: 'Roboto', serif;
    font-weight: normal;
    color: white;
    text-align: left;
    font-size: 16;
  }
  blockquote {
    font-family: 'Roboto', serif;
    color: white;
  }
}

.elephants {
  width: 400px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  background-position: 0px -50px, center;
  background-size: 100%;
}
.signup {
  h1 {
    margin-top: 10%;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 100px;
    color: white;
  }
  
  h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 25px;
    color: white;
  }

  @media #{$media-i5} {
    h3 {
      font-size: 40px;
    }
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
  h4 {
    vertical-align: middle;
    color: white;
    text-transform: uppercase;
    -webkit-transition: 0.1s linear all;

    &:hover {
      text-decoration: none;
    }

  }

}
.dropdown {
  padding-top: 7px;
}

#sign-in-status {
  margin-top: 1%;
}

.well {
  padding-bottom: 0px;
}
.opac {
  background-color: rgba(250,250,250,0.5);
  border: none;
  border-radius: 5px;

}

.opac-black {
  background-color: rgba(0,0,0,0.4);
  border: none;
  border-radius: 5px;
}

.button{
  display: table;
  font-family: 'Roboto', sans-serif;
  border: 4px solid white;
  text-align: center;
  color: white;
  margin-left: auto;
  margin-right: auto;
  padding: 22px;
  width: 100%;
  height: 70px;
  border-radius: 10px;
  -webkit-transition: 0.1s linear all;

  &::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }

  &:hover {
    background-color: rgba(255,255,255,0.3);
    -webkit-transition: 0.1s linear all;
  }

  .centered {
    display: table-cell;
    vertical-align: middle;
  }
  
  @media #{$media-i5} {
    h4 {
      font-size: 30px;
    }
    
  }

  @media #{$media-thirteen} {

  }

  h4 {
    vertical-align: middle;
    color: white;
    text-transform: uppercase;
    -webkit-transition: 0.1s linear all;

    &:hover {
      text-decoration: none;
    }

  }
  
}


